@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;700&display=swap");
/* VARIABLES */
/* MIXINS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  padding-left: 240px;
}

/* SIDBAR / NAVIGATION STYLING */
.sidebar {
  background-color: #2366B5;
  color: #fff;
  padding: 40px 45px;
  width: 235px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.sidebar .settings li:hover:not(#log-btn) {
  color: #2366B5;
}
@-webkit-keyframes navLineAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes navLineAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.sidebar .settings li:hover:not(#log-btn)::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 240px;
  height: 40px;
  left: -50px;
  top: -8px;
  z-index: -9;
}
.sidebar .settings li:hover:not(#log-btn)::after {
  position: absolute;
  content: "";
  background-color: rgb(29, 190, 29);
  width: 5px;
  height: 40px;
  right: -45px;
  top: -8px;
}
.sidebar .settings #log-btn:hover button {
  background-color: rgb(236, 236, 236);
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.sidebar ul li {
  display: flex;
  margin-bottom: 32px;
  cursor: pointer;
  position: relative;
  z-index: 9;
}
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
}
.sidebar ul li a:hover {
  color: #2366B5;
}
@keyframes navLineAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.sidebar ul li a:hover::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 240px;
  height: 40px;
  left: -50px;
  top: -8px;
  z-index: -9;
}
.sidebar ul li a:hover::after {
  position: absolute;
  content: "";
  background-color: rgb(29, 190, 29);
  width: 5px;
  height: 40px;
  right: -45px;
  top: -8px;
}
.sidebar ul li h3 {
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
}
.sidebar ul li #icon {
  margin-top: 2.5px;
}
.sidebar ul li button {
  display: flex;
  background-color: #fff;
  color: #2366B5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sidebar ul li button h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.sidebar ul li button #icon {
  margin: 4.4px -8px 0 0;
}

.section-title {
  font-weight: 500;
  margin-bottom: 7px;
}

/* OVERVIEW */
.overview {
  padding: 60px 35px;
  width: 100%;
}
.overview h1 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 50px;
}
.overview .accounts-container .all-accounts {
  display: flex;
  flex-wrap: wrap;
}
.overview .accounts-container .new-account {
  border: 1.4px solid #C4C4C4;
  color: #535353;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 270px;
  height: 210px;
  position: relative;
  padding: 28px;
}
.overview .accounts-container .new-account .depositAmount {
  font-weight: 600;
  color: #2366B5;
  font-size: 35px;
  margin-top: -30px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
}
.overview .accounts-container .new-account h3 {
  font-weight: 400;
  margin-bottom: 30px;
}
.overview .accounts-container .new-account #add-icon {
  font-size: 80px;
  color: #C4C4C4;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.overview .accounts-container .new-account #add-icon:hover {
  transform: scale(1.1);
  color: #535353;
}

hr {
  margin: 50px 0 50px 0;
  width: 100%;
}

.transactions .filters {
  display: flex;
  font-size: 14px;
  margin-top: 15px;
}
.transactions .filters h3 {
  margin-right: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

/* NEW ACCOUNT FORM STYLING */
.newAccount {
  background-color: #fff;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  z-index: 999;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.24);
}
.newAccount .account-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}
.newAccount .account-input:not(.account-input:last-of-type) {
  margin-bottom: 35px;
}
.newAccount .account-input:last-of-type {
  margin-bottom: 20px;
}
.newAccount .account-input label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.newAccount .account-input input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.newAccount .account-input h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.newAccount .account-input h4 {
  top: 110px;
  left: 102px;
}
.newAccount button {
  background-color: #2366B5;
  color: #fff;
  border: none;
  padding: 10px 30px;
  display: flex;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.newAccount button:hover {
  background-color: black;
}
.newAccount #close-btn {
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* TRANSACTIONS PAGE STYLING */
.transactions-page {
  padding: 60px 35px;
  width: 100%;
}
.transactions-page button {
  display: flex;
  background-color: #fff;
  color: #2366B5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: #2366B5;
  color: #fff;
  font-size: 16px;
}
.transactions-page button:hover {
  background-color: #5085bd;
}
.transactions-page form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.transactions-page form input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.transactions-page form h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.transactions-page form label {
  margin: 20px 0 4px 0;
}
.transactions-page form button {
  margin-top: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.transactions-page form h4 {
  margin-top: 10px;
}
.transactions-page form h4:last-child {
  color: green;
}
.transactions-page form .trans-input {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: -20px;
}
.transactions-page form .dropdown-accounts {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
}
.transactions-page form .dropdown-accounts h3 {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.transactions-page form .dropdown-accounts h3:not(.transactions-page form .dropdown-accounts h3:last-child) {
  margin-bottom: 10px;
}
.transactions-page form .dropdown-accounts h3:hover {
  transform: translateX(10px);
  color: #2366B5;
}
.transactions-page form .select-account {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;
}
.transactions-page form .select-account #down-arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.transactions-page form .select-account h3 {
  font-weight: 400;
  border: 1px solid black;
  width: 200px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  text-transform: uppercase;
}

/* TRANSACTION TABLE STYLING */
.transaction-table .table-titles {
  color: #fff;
  background-color: #2366B5;
  font-weight: 500;
}
.transaction-table table {
  position: relative;
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.transaction-table table td {
  padding: 15px 35px;
}
.transaction-table table #table-content td {
  padding: 30px 35px;
}
.transaction-table table #table-content td:last-child {
  font-weight: 600;
}
.transaction-table table #transaction-type span {
  color: #2366B5;
  background-color: rgba(35, 103, 181, 0.1921568627);
  font-size: 12px;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 20px;
}
.transaction-table .filters .filter-dropdown {
  position: relative;
  padding-bottom: 7px;
}
.transaction-table .filters .filter-dropdown .select-filter {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;
  width: 120px;
  color: #fff;
  background-color: #2366B5;
  border-radius: 5px;
}
.transaction-table .filters .filter-dropdown .select-filter #down-arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.transaction-table .filters .filter-dropdown .select-filter h3 {
  font-weight: 400;
  border: 1px solid black;
  width: 200px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  text-transform: uppercase;
}
.transaction-table .filters .filter-dropdown .select-filter #down-arrow {
  top: 3.5px;
}
.transaction-table .filters .filter-dropdown .select-filter h3 {
  border: none;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
  top: 30px;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select h3 {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select h3:not(.transaction-table .filters .filter-dropdown .filter-dropdown-select h3:last-child) {
  margin-bottom: 10px;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select h3:hover {
  transform: translateX(10px);
  color: #2366B5;
}

/* CARDS PAGE STYLING */
.cards {
  padding: 60px 35px;
  width: 100%;
}
.cards .new-card {
  margin-bottom: 70px;
}
.cards .new-card form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.cards .new-card form input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.cards .new-card form h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.cards .new-card form .select-card-type, .cards .new-card form .debit-or-credit {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;
}
.cards .new-card form .select-card-type #down-arrow, .cards .new-card form .debit-or-credit #down-arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.cards .new-card form .select-card-type h3, .cards .new-card form .debit-or-credit h3 {
  font-weight: 400;
  border: 1px solid black;
  width: 200px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  text-transform: uppercase;
}
.cards .new-card form .dropdown-card-types {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
}
.cards .new-card form .dropdown-card-types h3 {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.cards .new-card form .dropdown-card-types h3:not(.cards .new-card form .dropdown-card-types h3:last-child) {
  margin-bottom: 10px;
}
.cards .new-card form .dropdown-card-types h3:hover {
  transform: translateX(10px);
  color: #2366B5;
}
.cards .new-card form .card-input {
  padding-bottom: 20px;
  position: relative;
}
.cards .new-card form label {
  margin-bottom: 5px;
}
.cards .new-card form button {
  display: flex;
  background-color: #fff;
  color: #2366B5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: #2366B5;
  color: #fff;
  font-size: 16px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.cards .new-card form button:hover {
  background-color: #5085bd;
}
.cards .new-card form h4:last-child {
  color: green;
}
.cards .card-list {
  margin-top: 25px;
}
.cards .card-list .card {
  width: 280px;
  height: 160px;
  position: relative;
  padding: 15px;
  display: flex;
  background-color: rgb(246, 246, 101);
  font-family: "Averia Serif Libre", cursive;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.15);
  background-image: url("./img/glass.png");
  background-size: cover;
}
.cards .card-list .card .left .credentials {
  position: absolute;
  bottom: 10px;
}
.cards .card-list .card .left .credentials h5 {
  font-weight: 500;
  font-size: 16px;
}
.cards .card-list .card .left .credentials h6 {
  text-transform: uppercase;
  font-size: 9px;
}
.cards .card-list .card .left .type h2 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.cards .card-list .card .right #card-type {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #2366B5;
  font-size: 35px;
}/*# sourceMappingURL=Style.css.map */