@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

/* VARIABLES */
$main-blue: #2366b5;
$hover-blue: #5085bd;

/* MIXINS */
@mixin nav-hover {
  color: $main-blue;

  @keyframes navLineAnim {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 240px;
    height: 40px;
    left: -50px;
    top: -8px;
    z-index: -9;
    // animation: navLineAnim 0.3s ease-in-out;
  }
  &::after {
    position: absolute;
    content: "";
    background-color: rgb(29, 190, 29);
    width: 5px;
    height: 40px;
    right: -45px;
    top: -8px;
  }
}

@mixin main-btn {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}

@mixin bank-form {
  position: relative;
  padding-bottom: 20px;

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  input {
    width: 200px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid black;
  }
  h4 {
    // error
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 12px;
    color: red;

    &:last-child {
      color: green;
    }
  }

  button {
    @include main-btn;
    background-color: $main-blue;
    color: #fff;
    font-size: 16px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 5px 0 5px 0;

    &:hover {
      background-color: $hover-blue;
    }
  }

  .user-input {
    position: relative;
    padding-bottom: 20px;
  }
}

@mixin customSelect {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;

  #down-arrow {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
    transition: 0.8s ease-in-out;
  }

  h3 {
    font-weight: 400;
    border: 1px solid black;
    width: 200px;
    padding-left: 10px;
    border-radius: 3px;
    font-size: 15.5px;
    text-transform: uppercase;
  }
}

@mixin customDropdown {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);

  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
  h3 {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:not(&:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      transform: translateX(10px);
      color: $main-blue;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbfd;
}

.App {
  display: flex;
  padding-left: 240px;
}

/* SIDBAR / NAVIGATION STYLING */
.sidebar {
  background-color: $main-blue;
  color: #fff;
  padding: 40px 45px;
  width: 235px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  .settings {
    li:hover:not(#log-btn, #profile-btn) {
      @include nav-hover();
    }

    #log-btn:hover {
      button {
        background-color: rgb(236, 236, 236);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    li {
      display: flex;
      margin-bottom: 32px;
      cursor: pointer;
      position: relative;
      z-index: 9;

      a {
        text-decoration: none;
        color: #fff;
        display: flex;

        &:hover {
          @include nav-hover();
        }
      }

      #active {
        @include nav-hover();
      }

      h3 {
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px;
      }

      #icon {
        margin-top: 2.5px;
      }

      button {
        @include main-btn();

        h3 {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 14px;
        }

        #icon {
          margin: 4.4px -8px 0 0;
        }
      }
    }
  }
}

.section-title {
  font-weight: 500;
  margin-bottom: 7px;
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 80%;
  z-index: 9;
}

/* OVERVIEW */
.overview {
  padding: 60px 35px;
  width: 100%;

  h1 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 50px;
  }

  .accounts-container {
    .all-accounts {
      display: flex;
      flex-wrap: wrap;
    }

    .accounts {
      background-color: #fff;
      color: #535353;
      text-align: center;
      margin-right: 20px;
      margin-bottom: 20px;

      width: 320px;
      height: 195px;
      position: relative;

      padding: 28px;
      border-radius: 5px;
      box-shadow: 10px 10px 4px -8px rgba(0, 0, 0, 0.22);

      .depositAmount {
        font-weight: 600;
        color: $main-blue;
        font-size: 35px;
        margin-top: -30px;

        position: absolute;
        bottom: 40px;
        width: 100%;
        left: 0;
      }
    }

    .new-account {
      border: 1.8px solid #c4c4c4;
      background-color: #fafbfd;
      box-shadow: none;

      h3 {
        font-weight: 400;
        margin-bottom: 20px;
      }
      #add-icon {
        font-size: 80px;
        color: #c4c4c4;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          color: #535353;
        }
      }
    }
  }
}

hr {
  margin: 50px 0 50px 0;
  width: 100%;
}

.transactions {
  .filters {
    display: flex;
    font-size: 14px;
    margin-top: 15px;

    h3 {
      margin-right: 10px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

/* NEW ACCOUNT FORM STYLING */
.newAccount {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 300px;
  z-index: 999;

  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.24);

  .account-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @include bank-form();
    padding-bottom: 0px;

    h4 {
      bottom: -155px;
      // top: 110px;
      // left: 102px;

      &:last-child {
        color: red;
      }
    }
  }

  button {
    @include main-btn;
    background-color: $main-blue;
    color: #fff;
    font-size: 15px;
    width: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;

    &:hover {
      background-color: $hover-blue;
    }
  }

  #close-btn {
    font-size: 25px;

    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
  }
}

/* TRANSACTIONS PAGE STYLING */

.transactions-page {
  padding: 60px 35px;
  width: 100%;

  form {
    @include bank-form;

    .dropdown-accounts {
      @include customDropdown;
    }

    .select-account {
      @include customSelect;
    }
  }
}

/* TRANSACTION TABLE STYLING */
.transaction-table {
  .table-titles {
    color: #fff;
    background-color: $main-blue;
    font-weight: 500;
    // height: 51px;
  }

  table {
    position: relative;
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    height: 490px;
    table-layout: fixed;

    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.15);

    tr {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    td {
      padding: 15px 35px;
    }
    #table-content {
      padding: 15px 2px;

      td {
        position: relative;
      }

      td:last-child {
        font-weight: 600;
      }
    }

    span {
      font-size: 13px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      border-radius: 12px;
      padding: 3px;
      width: 100px;
    }

    #type-transaction {
      span {
        color: $main-blue;
        background-color: #2367b531;
      }
    }

    #type-transfer-debit {
      span {
        color: #d0021b;
        background-color: #d0021a4d;
      }
    }

    #type-transfer-credit {
      span {
        color: #0a9707;
        background-color: #09970745;
      }
    }
  }

  .filters {
    .filter-dropdown {
      position: relative;
      padding-bottom: 7px;
      .select-filter {
        @include customSelect;
        width: 150px;
        color: #fff;
        background-color: $main-blue;
        border-radius: 5px;

        #down-arrow {
          top: 3.5px;
        }

        h3 {
          border: none;
        }
      }
      .filter-dropdown-select {
        @include customDropdown;
        top: 30px;
      }
    }
  }

  .pageNav {
    margin-top: 20px;

    button {
      width: 45px;
      height: 26px;
      margin-right: 5px;
      border: 1px solid #aba1a1;
      border-radius: 5px;
      font-weight: 600;
      color: #000;
      background: #fff;
      cursor: pointer;
    }

    .page-btn {
      width: 28px;
      height: 26px;
    }

    .activePage {
      color: #fff;
      background-color: $main-blue;
      border: 1px solid $main-blue;
    }

    .page-inactive {
      color: #aba1a1;
      background-color: #e4e4e4;
    }
  }
}

/* CARDS PAGE STYLING */
.cards {
  padding: 60px 35px;
  width: 100%;

  .new-card {
    margin-bottom: 50px;

    form {
      @include bank-form;

      .select-card-type,
      .debit-or-credit,
      .connect-account {
        @include customSelect;
      }

      .dropdown-card-types {
        @include customDropdown;
      }
    }
  }

  .card-list {
    margin-top: 25px;

    .card-container {
      display: flex;
      flex-wrap: wrap;
      color: #fff;

      .card-list-container {
        position: relative;
        width: 280px;
        height: 160px;
        border-radius: 15px;
        margin: 0 28px 18px 0;
        filter: drop-shadow(0px 0px 3px #2366b5);
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          filter: drop-shadow(0px 0px 10px #2366b5);
        }
      }

      .glassOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
      }

      .card {
        width: 280px;
        height: 160px;
        border-radius: 15px;
        position: relative;
        padding: 15px;
        display: flex;
        font-family: "IBM Plex Mono", monospace;
        box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.15);

        @keyframes deleteAnim {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(100%);
          }
        }

        .delete-card {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 22px;
          z-index: 999999;
          opacity: 0.9;
          cursor: pointer;
          animation: deleteAnim 0.5s ease-in-out;
        }

        .left {
          opacity: 0.9;

          .credentials {
            position: absolute;
            bottom: 10px;

            h5 {
              font-weight: 400;
              font-size: 16px;
              text-transform: capitalize;

              span {
                margin: 5px;
              }
            }
            h6 {
              text-transform: uppercase;
              font-size: 9px;
            }
          }

          .type {
            h2 {
              font-weight: 500;
              font-family: "Poppins", sans-serif;
              font-size: 20px;
            }
          }
        }

        .right {
          #card-type {
            position: absolute;
            bottom: 10px;
            right: 15px;

            color: black;
            font-size: 35px;
            color: #fff;
          }
        }
      }
    }
  }
}

/* CARD TRANSFER STYLING */

.transfers {
  padding: 60px 35px;
  width: 100%;

  form {
    @include bank-form;
    .select-card {
      @include customSelect;
    }

    .dropdown-accounts {
      @include customDropdown;
    }
  }
}

/* ADDITIONAL CARD INFO STYLING */

@keyframes cardInfoAnim-horizontal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes cardInfoAnim-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes cardTextAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.cardInfo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  color: #fff;
  padding: 60px 70px 23px 70px;

  // top
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    top: 0;
    right: 0;
    background-color: #fff;
    animation: cardInfoAnim-horizontal 1s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  // bottom
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    animation: cardInfoAnim-horizontal 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  // right
  .some:before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    animation: cardInfoAnim-vertical 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  // left
  .some:after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    animation: cardInfoAnim-vertical 1s ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;

    animation: cardTextAnim 0.5s ease-in-out;
  }

  span {
    font-weight: 700;
    margin-right: 40px;
  }

  button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    background: none;
    border: none;
    color: #fff;
    animation: cardTextAnim 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

/* EMPTY STYLING */
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;

  h2 {
    font-size: 17px;
    font-weight: 500;
  }
  .empty-box {
    font-size: 55px;
    margin-bottom: 12px;
    color: $main-blue;
  }
}

#dropdown-empty {
  color: $main-blue;
  cursor: not-allowed;

  &:hover {
    transform: none;
  }
}

/* PROFILE STYLING */

.profile {
  position: absolute;
  top: 35px;
  right: 45px;

  display: flex;

  h3 {
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15.5px;
    text-transform: capitalize;
  }

  .profile-img {
    width: 49px;
    height: 50px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.profile-settings {
  padding: 60px 35px;

  form {
    @include bank-form;
  }

  .profile-input {
    input {
      padding: 14px 10px;
    }
  }
}

/* GREETING PAGE STYLING */

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 7px;
    text-transform: capitalize;
  }

  form {
    @include bank-form();

    input {
      margin-bottom: 4px;
    }

    a {
      text-decoration: none;

      button {
        text-transform: uppercase;
      }
    }

    h4 {
      &:last-of-type {
        color: red;
      }
    }
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

/* REPSONSIVE DESIGN */

@media only screen and (max-width: 950px) {
  .sidebar {
    display: none;
  }

  .App {
    padding-left: 0;
    padding-top: 80px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-settings {
    display: flex;
    flex-direction: column;
    margin: 90px auto;
  }

  .section-title,
  .general h1 {
    text-align: center;
    margin-bottom: 25px;
  }

  .card-container,
  .all-accounts {
    justify-content: center;
  }

  .card-container {
    margin: 0 0 18px 27px;
  }
}
