@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* VARIABLES */
$main-blue: #2366B5; 
$hover-blue: #5085bd; 

/* MIXINS */
@mixin nav-hover {
    color: $main-blue;
        
       &::before {
        position: absolute;
        content: '';
        background-color: #fff;
        width: 240px;
        height: 40px;
        left: -50px;
        top: -8px;
        z-index: -9;
        }
}

@mixin main-btn {
    display: flex;
    background-color: #fff;
    color: #2366B5;
    border: none;
    border-radius: 30px;
    padding: 5px 19px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

@mixin bank-form {
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }
    input {
        width: 200px;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid black;
    }
    h4 { // error
        position: absolute;
        font-weight: 400;
        font-size: 12px;
        color: red;
        top: 110px;
        left: 102px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.App {
    display: flex;
}

/* SIDBAR / NAVIGATION STYLING */
.sidebar {
    background-color: $main-blue;
    color: #fff;
    padding: 40px 45px;
    width: 235px;
    height: 100vh;

    ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        transition: 0.4s ease-in-out;

        li {
           display: flex;
           margin-bottom: 32px;
           cursor: pointer;
           position: relative;
           z-index: 9;

        &:hover:not(#log-btn) {
            @include nav-hover();
        }
           
           a {
            text-decoration: none;
            color: #fff;
            display: flex;

            &:hover {
                @include nav-hover();
            }
           }

           h3 {
            font-size: 15px;
            font-weight: 400;
            margin-left: 15px;
            }

            #icon {
                margin-top: 2.5px;
            }

            button {
                @include main-btn();

                // &:hover {
                //     transform: scale(1.1);
                // }

                h3 {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                }

                #icon {
                    margin: 4.4px -8px 0 0;
                }
            }

        }
    }
}

.section-title {
    font-weight: 500;
    margin-bottom: 7px;
}

/* OVERVIEW */
.overview {
    padding: 60px 35px;

    h1 {
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 50px;
    }

    .accounts-container {
        
        .all-accounts {
            display: flex;
        }
        .new-account {
            border: 1.4px solid #C4C4C4;
            color: #535353;
            text-align: center;
            margin-right: 20px;

            width: 270px;
            height: 210px;
            position: relative;

            padding: 28px;

            .depositAmount {
                font-weight: 600;
                color: $main-blue;
                font-size: 35px;
                margin-top: -30px;

                position: absolute;
                bottom: 40px;
                width: 100%;
                left: 0;
            }
            
            h3 {
                font-weight: 400;
                margin-bottom: 30px;
            }
            #add-icon {
                font-size: 80px;
                color: #C4C4C4;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    color: #535353;
                }
            }
        }
    }

    hr {
        margin: 50px 0 50px 0;
    }

    .transactions {

        .filters {
            display: flex;
            font-size: 14px;
            margin-top: 15px;

            h3 {
                margin-right: 10px;
            }

            select {
                font-family: 'Poppins', sans-serif;
                background-color: $main-blue;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 2px 10px;

                option {
                    background-color: gray;
                }
            }
        }
    }
}

/* NEW ACCOUNT FORM STYLING */
.newAccount {
    background-color: #fff;
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px;
    height: 300px;
    z-index: 999;

    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.24);

    .account-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 17px;

        &:not(.account-input:last-of-type) {
        margin-bottom: 35px;
        }

        &:last-of-type {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: 500;
            text-transform: uppercase;
        }
        input {
            width: 200px;
            padding: 5px 10px;
            border-radius: 3px;
            border: 1px solid black;
        }
        h4 {
            position: absolute;
            font-weight: 400;
            font-size: 12px;
            color: red;
            top: 110px;
            left: 102px;
        }
    }

    button {
        background-color: $main-blue;
        color: #fff;
        border: none;
        padding: 10px 30px;
        display: flex;
        margin: 0 auto;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: black;
        }
    }

    #close-btn {
        font-size: 25px;
        
        position: absolute;
        top: 20px;
        right: 20px;

        cursor: pointer;
    }
}

/* TRANSACTIONS PAGE STYLING */

.transactions-page {
    padding: 60px 35px;
    button {
        @include main-btn;
        background-color: $main-blue;
        color: #fff;
        font-size: 16px;

        &:hover {
            background-color: $hover-blue;
        }
    }

    form {
        @include bank-form;

        label {
            margin: 20px 0 4px 0;
        }
        
        button {
            margin-top: 20px;
        }

        .trans-input {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: -14px;
        }

        .dropdown-accounts {
            box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.20);

            background-color: #fff;
            padding: 15px;
            position: absolute;
            width: 200px;
            top: 60px;
            left: 0;
            z-index: 999;
            border-radius: 5px;
            h3 {
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:not(&:last-child) {
                    margin-bottom: 10px;
                }

                &:hover {
                    transform: translateX(10px);
                    color: $main-blue;
                }
            }
        }

        .select-account {
            display: flex;
            position: relative;
            cursor: pointer;     

            #down-arrow {
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 15px;
                transition: 0.8s ease-in-out;
            }

            h3 {
                font-weight: 400;
                border: 1px solid black;
                width: 200px;
                padding-left: 10px;
                border-radius: 3px;
                font-size: 15.5px;
                text-transform: uppercase;
            }
        }
        
    }
}