@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
/* VARIABLES */
/* MIXINS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbfd;
}

.App {
  display: flex;
  padding-left: 240px;
}

/* SIDBAR / NAVIGATION STYLING */
.sidebar {
  background-color: #2366b5;
  color: #fff;
  padding: 40px 45px;
  width: 235px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.sidebar .settings li:hover:not(#log-btn) {
  color: #2366b5;
}
@-webkit-keyframes navLineAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes navLineAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.sidebar .settings li:hover:not(#log-btn)::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 240px;
  height: 40px;
  left: -50px;
  top: -8px;
  z-index: -9;
}
.sidebar .settings li:hover:not(#log-btn)::after {
  position: absolute;
  content: "";
  background-color: rgb(29, 190, 29);
  width: 5px;
  height: 40px;
  right: -45px;
  top: -8px;
}
.sidebar .settings #log-btn:hover button {
  background-color: rgb(236, 236, 236);
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.sidebar ul li {
  display: flex;
  margin-bottom: 32px;
  cursor: pointer;
  position: relative;
  z-index: 9;
}
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
}
.sidebar ul li a:hover {
  color: #2366b5;
}
@keyframes navLineAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.sidebar ul li a:hover::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 240px;
  height: 40px;
  left: -50px;
  top: -8px;
  z-index: -9;
}
.sidebar ul li a:hover::after {
  position: absolute;
  content: "";
  background-color: rgb(29, 190, 29);
  width: 5px;
  height: 40px;
  right: -45px;
  top: -8px;
}
.sidebar ul li #active {
  color: #2366b5;
}
@keyframes navLineAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.sidebar ul li #active::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 240px;
  height: 40px;
  left: -50px;
  top: -8px;
  z-index: -9;
}
.sidebar ul li #active::after {
  position: absolute;
  content: "";
  background-color: rgb(29, 190, 29);
  width: 5px;
  height: 40px;
  right: -45px;
  top: -8px;
}
.sidebar ul li h3 {
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
}
.sidebar ul li #icon {
  margin-top: 2.5px;
}
.sidebar ul li button {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}
.sidebar ul li button h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.sidebar ul li button #icon {
  margin: 4.4px -8px 0 0;
}

.section-title {
  font-weight: 500;
  margin-bottom: 7px;
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 80%;
  z-index: 9;
}

/* OVERVIEW */
.overview {
  padding: 60px 35px;
  width: 100%;
}
.overview h1 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 50px;
}
.overview .accounts-container .all-accounts {
  display: flex;
  flex-wrap: wrap;
}
.overview .accounts-container .accounts {
  background-color: #fff;
  color: #535353;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 320px;
  height: 195px;
  position: relative;
  padding: 28px;
  border-radius: 5px;
  box-shadow: 10px 10px 4px -8px rgba(0, 0, 0, 0.22);
}
.overview .accounts-container .accounts .depositAmount {
  font-weight: 600;
  color: #2366b5;
  font-size: 35px;
  margin-top: -30px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
}
.overview .accounts-container .new-account {
  border: 1.8px solid #c4c4c4;
  background-color: #fafbfd;
  box-shadow: none;
}
.overview .accounts-container .new-account h3 {
  font-weight: 400;
  margin-bottom: 20px;
}
.overview .accounts-container .new-account #add-icon {
  font-size: 80px;
  color: #c4c4c4;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.overview .accounts-container .new-account #add-icon:hover {
  transform: scale(1.1);
  color: #535353;
}

hr {
  margin: 50px 0 50px 0;
  width: 100%;
}

.transactions .filters {
  display: flex;
  font-size: 14px;
  margin-top: 15px;
}
.transactions .filters h3 {
  margin-right: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

/* NEW ACCOUNT FORM STYLING */
.newAccount {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  z-index: 999;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.24);
}
.newAccount .account-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-bottom: 0px;
}
.newAccount .account-input label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.newAccount .account-input input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.newAccount .account-input h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.newAccount .account-input h4:last-child {
  color: green;
}
.newAccount .account-input button {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: #2366b5;
  color: #fff;
  font-size: 16px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.newAccount .account-input button:hover {
  background-color: #5085bd;
}
.newAccount .account-input .user-input {
  position: relative;
  padding-bottom: 20px;
}
.newAccount .account-input h4 {
  top: 110px;
  left: 102px;
}
.newAccount .account-input h4:last-child {
  color: red;
}
.newAccount button {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: #2366b5;
  color: #fff;
  font-size: 15px;
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
}
.newAccount button:hover {
  background-color: #5085bd;
}
.newAccount #close-btn {
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* TRANSACTIONS PAGE STYLING */
.transactions-page {
  padding: 60px 35px;
  width: 100%;
}
.transactions-page form {
  padding-bottom: 20px;
}
.transactions-page form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.transactions-page form input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.transactions-page form h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.transactions-page form h4:last-child {
  color: green;
}
.transactions-page form button {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: #2366b5;
  color: #fff;
  font-size: 16px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.transactions-page form button:hover {
  background-color: #5085bd;
}
.transactions-page form .user-input {
  position: relative;
  padding-bottom: 20px;
}
.transactions-page form .dropdown-accounts {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
}
.transactions-page form .dropdown-accounts h3 {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.transactions-page form .dropdown-accounts h3:not(.transactions-page form .dropdown-accounts h3:last-child) {
  margin-bottom: 10px;
}
.transactions-page form .dropdown-accounts h3:hover {
  transform: translateX(10px);
  color: #2366b5;
}
.transactions-page form .select-account {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;
}
.transactions-page form .select-account #down-arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.transactions-page form .select-account h3 {
  font-weight: 400;
  border: 1px solid black;
  width: 200px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  text-transform: uppercase;
}

/* TRANSACTION TABLE STYLING */
.transaction-table .table-titles {
  color: #fff;
  background-color: #2366b5;
  font-weight: 500;
}
.transaction-table table {
  position: relative;
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  height: 490px;
  table-layout: fixed;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.transaction-table table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.transaction-table table td {
  padding: 15px 35px;
}
.transaction-table table #table-content {
  padding: 15px 2px;
}
.transaction-table table #table-content td {
  position: relative;
}
.transaction-table table #table-content td:last-child {
  font-weight: 600;
}
.transaction-table table span {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  padding: 3px;
  width: 100px;
}
.transaction-table table #type-transaction span {
  color: #2366b5;
  background-color: rgba(35, 103, 181, 0.1921568627);
}
.transaction-table table #type-transfer-debit span {
  color: #d0021b;
  background-color: rgba(208, 2, 26, 0.3019607843);
}
.transaction-table table #type-transfer-credit span {
  color: #0a9707;
  background-color: rgba(9, 151, 7, 0.2705882353);
}
.transaction-table .filters .filter-dropdown {
  position: relative;
  padding-bottom: 7px;
}
.transaction-table .filters .filter-dropdown .select-filter {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;
  width: 150px;
  color: #fff;
  background-color: #2366b5;
  border-radius: 5px;
}
.transaction-table .filters .filter-dropdown .select-filter #down-arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.transaction-table .filters .filter-dropdown .select-filter h3 {
  font-weight: 400;
  border: 1px solid black;
  width: 200px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  text-transform: uppercase;
}
.transaction-table .filters .filter-dropdown .select-filter #down-arrow {
  top: 3.5px;
}
.transaction-table .filters .filter-dropdown .select-filter h3 {
  border: none;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
  top: 30px;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select h3 {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select h3:not(.transaction-table .filters .filter-dropdown .filter-dropdown-select h3:last-child) {
  margin-bottom: 10px;
}
.transaction-table .filters .filter-dropdown .filter-dropdown-select h3:hover {
  transform: translateX(10px);
  color: #2366b5;
}
.transaction-table .pageNav {
  margin-top: 20px;
}
.transaction-table .pageNav button {
  width: 45px;
  height: 26px;
  margin-right: 5px;
  border: 1px solid #aba1a1;
  border-radius: 5px;
  font-weight: 600;
  color: #000;
  background: #fff;
  cursor: pointer;
}
.transaction-table .pageNav .page-btn {
  width: 28px;
  height: 26px;
}
.transaction-table .pageNav .activePage {
  color: #fff;
  background-color: #2366b5;
  border: 1px solid #2366b5;
}
.transaction-table .pageNav .page-inactive {
  color: #aba1a1;
  background-color: #e4e4e4;
}

/* CARDS PAGE STYLING */
.cards {
  padding: 60px 35px;
  width: 100%;
}
.cards .new-card {
  margin-bottom: 50px;
}
.cards .new-card form {
  padding-bottom: 20px;
}
.cards .new-card form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cards .new-card form input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.cards .new-card form h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.cards .new-card form h4:last-child {
  color: green;
}
.cards .new-card form button {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: #2366b5;
  color: #fff;
  font-size: 16px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.cards .new-card form button:hover {
  background-color: #5085bd;
}
.cards .new-card form .user-input {
  position: relative;
  padding-bottom: 20px;
}
.cards .new-card form .select-card-type,
.cards .new-card form .debit-or-credit,
.cards .new-card form .connect-account {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;
}
.cards .new-card form .select-card-type #down-arrow,
.cards .new-card form .debit-or-credit #down-arrow,
.cards .new-card form .connect-account #down-arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.cards .new-card form .select-card-type h3,
.cards .new-card form .debit-or-credit h3,
.cards .new-card form .connect-account h3 {
  font-weight: 400;
  border: 1px solid black;
  width: 200px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  text-transform: uppercase;
}
.cards .new-card form .dropdown-card-types {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
}
.cards .new-card form .dropdown-card-types h3 {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.cards .new-card form .dropdown-card-types h3:not(.cards .new-card form .dropdown-card-types h3:last-child) {
  margin-bottom: 10px;
}
.cards .new-card form .dropdown-card-types h3:hover {
  transform: translateX(10px);
  color: #2366b5;
}
.cards .card-list {
  margin-top: 25px;
}
.cards .card-list .card-container {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}
.cards .card-list .card-container .card-list-container {
  position: relative;
  width: 280px;
  height: 160px;
  border-radius: 15px;
  margin: 0 28px 18px 0;
  filter: drop-shadow(0px 0px 3px #2366b5);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.cards .card-list .card-container .card-list-container:hover {
  filter: drop-shadow(0px 0px 10px #2366b5);
}
.cards .card-list .card-container .glassOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.cards .card-list .card-container .card {
  width: 280px;
  height: 160px;
  border-radius: 15px;
  position: relative;
  padding: 15px;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
@-webkit-keyframes deleteAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes deleteAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
.cards .card-list .card-container .card .delete-card {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  z-index: 999999;
  opacity: 0.9;
  cursor: pointer;
  -webkit-animation: deleteAnim 0.5s ease-in-out;
          animation: deleteAnim 0.5s ease-in-out;
}
.cards .card-list .card-container .card .left {
  opacity: 0.9;
}
.cards .card-list .card-container .card .left .credentials {
  position: absolute;
  bottom: 10px;
}
.cards .card-list .card-container .card .left .credentials h5 {
  font-weight: 400;
  font-size: 16px;
}
.cards .card-list .card-container .card .left .credentials h5 span {
  margin: 5px;
}
.cards .card-list .card-container .card .left .credentials h6 {
  text-transform: uppercase;
  font-size: 9px;
}
.cards .card-list .card-container .card .left .type h2 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.cards .card-list .card-container .card .right #card-type {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: black;
  font-size: 35px;
  color: #fff;
}

/* CARD TRANSFER STYLING */
.transfers {
  padding: 60px 35px;
  width: 100%;
}
.transfers form {
  padding-bottom: 20px;
}
.transfers form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.transfers form input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.transfers form h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.transfers form h4:last-child {
  color: green;
}
.transfers form button {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: #2366b5;
  color: #fff;
  font-size: 16px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.transfers form button:hover {
  background-color: #5085bd;
}
.transfers form .user-input {
  position: relative;
  padding-bottom: 20px;
}
.transfers form .select-card {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 200px;
}
.transfers form .select-card #down-arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.transfers form .select-card h3 {
  font-weight: 400;
  border: 1px solid black;
  width: 200px;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  text-transform: uppercase;
}
.transfers form .dropdown-accounts {
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  z-index: 999;
  border-radius: 5px;
}
.transfers form .dropdown-accounts h3 {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.transfers form .dropdown-accounts h3:not(.transfers form .dropdown-accounts h3:last-child) {
  margin-bottom: 10px;
}
.transfers form .dropdown-accounts h3:hover {
  transform: translateX(10px);
  color: #2366b5;
}

/* ADDITIONAL CARD INFO STYLING */
@-webkit-keyframes cardInfoAnim-horizontal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes cardInfoAnim-horizontal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes cardInfoAnim-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes cardInfoAnim-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes cardTextAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes cardTextAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.cardInfo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  color: #fff;
  padding: 60px 70px 23px 70px;
}
.cardInfo:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  top: 0;
  right: 0;
  background-color: #fff;
  -webkit-animation: cardInfoAnim-horizontal 1s ease-in-out;
          animation: cardInfoAnim-horizontal 1s ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cardInfo:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-animation: cardInfoAnim-horizontal 1s ease-in-out;
          animation: cardInfoAnim-horizontal 1s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cardInfo .some:before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  -webkit-animation: cardInfoAnim-vertical 1s ease-in-out;
          animation: cardInfoAnim-vertical 1s ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cardInfo .some:after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-animation: cardInfoAnim-vertical 1s ease-in-out;
          animation: cardInfoAnim-vertical 1s ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cardInfo h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  -webkit-animation: cardTextAnim 0.5s ease-in-out;
          animation: cardTextAnim 0.5s ease-in-out;
}
.cardInfo span {
  font-weight: 700;
  margin-right: 40px;
}
.cardInfo button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: none;
  border: none;
  color: #fff;
  -webkit-animation: cardTextAnim 0.5s ease-in-out;
          animation: cardTextAnim 0.5s ease-in-out;
}
.cardInfo button:hover {
  transform: scale(1.2);
}

/* EMPTY STYLING */
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
.empty h2 {
  font-size: 17px;
  font-weight: 500;
}
.empty .empty-box {
  font-size: 55px;
  margin-bottom: 12px;
  color: #2366b5;
}

#dropdown-empty {
  color: #2366b5;
  cursor: not-allowed;
}
#dropdown-empty:hover {
  transform: none;
}

/* PROFILE STYLING */
.profile {
  position: absolute;
  top: 35px;
  right: 45px;
  display: flex;
}
.profile h3 {
  margin-right: 15px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15.5px;
}
.profile .profile-img {
  width: 49px;
  height: 50px;
}
.profile .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile-settings {
  padding: 60px 35px;
}
.profile-settings form {
  padding-bottom: 20px;
}
.profile-settings form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.profile-settings form input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.profile-settings form h4 {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: red;
}
.profile-settings form h4:last-child {
  color: green;
}
.profile-settings form button {
  display: flex;
  background-color: #fff;
  color: #2366b5;
  border: none;
  border-radius: 30px;
  padding: 5px 19px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
  background-color: #2366b5;
  color: #fff;
  font-size: 16px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.profile-settings form button:hover {
  background-color: #5085bd;
}
.profile-settings form .user-input {
  position: relative;
  padding-bottom: 20px;
}/*# sourceMappingURL=Style.css.map */